.accordion {
  width: 70%;
  margin-inline: auto;
  margin-top: 2rem;
}
.acc-txt {
  background-color: rgb(113, 113, 242);
}
.accordion-body,
.accordion-header {
  color: white;
}
.accordion-header,
.cordion-item,
.accordion-button {
  background-color: rgb(29, 29, 105);
  color: white;
}
