@import "_partners";
@import "_upcoming";
@import "_navbar";
@import "_hero";
@import "_footer";
@import "_accordian";
@import "_tabs";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-image: linear-gradient(to left, rgb(14, 14, 84), black);
}
